.recipieCard {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  font-family: Polysans, sans-serif;
  color: #393e46;
}
.recipeName {
  font-size: 24px;
  margin-bottom: 10px;
  color: #393e46;
}
.recipeImage {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
.recipeDetails {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.instructions {
  padding: 0px;
  border-radius: 5px;
  color: grey;
}

.instructionsol {
  margin-left: 0px;
}
.instructionsli {
  margin: 10px 0px;
}
