/* .outerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.container {
  height: 300px;
  width: 300px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: auto;
  margin-top: 50px;
}

.box {
  background-color: beige;
  padding: 10px;
}
